<div class="table-responsive">
  <table data-sortable class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Class wise Student</th>
      <th>Total Student (M & F)</th>
      <th>Student ( Male )</th>
      <th>Student ( Female)</th>
      <th>Payable (tk)</th>
      <th>Collection (tk)</th>
      <th data-sortable="false">View / Edit</th>
    </tr>
    </thead>

    <tbody>

    <% @all_class=Level.all %>
       <% if @all_class.any? %>
            <%@all_class.each do |cls| %>
         <%  @all_students_AC=[] %>
            <% if cls %>

            <tr>
              <td><a href="#"><%= link_to cls.name, student_count_class_wise_admins_path(cls) %></a></td>
              <td><span class="label label-primary"><%= cls.students.any? ? cls.students.count : 0 %></span></td>
              <td><span class="label label-success">
                <% if cls.students.where(:gender=>'male').any? %>
                  <%= cls.students.where(:gender=>'male').count %>
                <% else %>
                <%= 0 %>
                <% end %>
              </span></td>
              <td><span class="label label-warning">
                <% if cls.students.where(:gender=>'female').any? %>
                  <%= cls.students.where(:gender=>'female').count %>
                <% else %>
                  <%= 0 %>
                <% end %>
              </span></td>
              <td><span class="label label-danger">2800</span></td>
              <td><span class="label label-info">4000</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" title="Off" class="btn btn-default"><i class="fa fa-power-off"></i></a>
                  <a data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
            <% end %>
            <% end %>
       <%  end   %>
    <!--<tr>-->
      <!--<td><a href="#">One ( i )</a></td>-->
      <!--<td><span class="label label-primary">200</span></td>-->
      <!--<td><span class="label label-success">120</span></td>-->
      <!--<td><span class="label label-warning">80</span></td>-->
      <!--<td><span class="label label-danger">2800</span></td>-->
      <!--<td><span class="label label-info">4000</span></td>-->
      <!--<td>-->
        <!--<div class="btn-group btn-group-xs">-->
          <!--<a data-toggle="tooltip" title="Off" class="btn btn-default"><i class="fa fa-power-off"></i></a>-->
          <!--<a data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-edit"></i></a>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->


    </tbody>
  </table>
</div>