<div class="content ">
<!-- Start info box -->
<div  class="row   top-summary">
  <div class="col-lg-3 col-md-6">
    <div class="widget lightblue-1">
      <div class="widget-content padding">
        <div class="widget-icon">

        </div>
        <div class="text-box">
          <p class="maindata"><b>TOTAL Payment</b></p>
          <h2><span class="animate-number" data-value="60000000" data-duration="3000">0</span>Tk</h2>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="widget-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up rel-change"></i><b> Payment In THIS MONTH</b> 89%
          </div>
          <div class="col-sm-12">
            <i class="fa fa-caret-down rel-change"></i><b> Payment In THIS year</b> 11%
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="widget green-1">
      <div class="widget-content padding">
        <div class="widget-icon">

        </div>
        <div class="text-box">
          <p class="maindata"> <b>Payment In THIS year</b></p>
          <h2><span class="animate-number" data-value="1200" data-duration="3000">0</span>Tk</h2>

          <div class="clearfix"></div>
        </div>
      </div>
      <div class="widget-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up rel-change"></i><b> Present of Collaction</b> 89%
          </div>
          <div class="col-sm-12">
            <i class="fa fa-caret-down rel-change"></i><b> Present of unpaid</b> 11%
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="widget orange-4">
      <div class="widget-content padding">
        <div class="widget-icon">

        </div>
        <div class="text-box">
          <p class="maindata"><b> Payment In THIS MONTH</b></p>
          <h2><span class="animate-number" data-value="600" data-duration="3000">0</span>Tk</h2>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="widget-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up rel-change"></i><b> Present of Collaction</b> 89%
          </div>
          <div class="col-sm-12">
            <i class="fa fa-caret-down rel-change"></i><b> Present of unpaid</b> 11%
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6">
    <div class="widget darkblue-2">
      <div class="widget-content padding">
        <div class="widget-icon">

        </div>
        <div class="text-box">
          <p class="maindata"> <b>Payable </b></p>
          <h2><span class="animate-number" data-value="8000" data-duration="3000">0</span>Tk</h2>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="widget-footer">
        <div class="row">
          <div class="col-sm-12">
            <i class="fa fa-caret-up rel-change"></i><b> Present of Collaction</b> 89%
          </div>
          <div class="col-sm-12">
            <i class="fa fa-caret-down rel-change"></i><b> Present of unpaid</b> 11%
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
<!-- End of info box -->

<div class="row">
<div class="col-lg-12 portlets">
<div id="website-statistics1" class="widget">
<div class="widget-header transparent">
  <h2><i class="fa fa-graduation-cap"></i> <strong>Student </strong> Information</h2>
  <div class="additional-btn">
    <a href="#" class="hidden reload"><i class="fa fa-repeat"></i></a>
    <a class="hidden" id="dropdownMenu1" data-toggle="dropdown">
      <i class="fa fa-cogs"></i>
    </a>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
    <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="fa fa-chevron-up "></i></a>
    <a href="#" class="widget-maximize hidden"><i class="fa fa-arrows"></i></a>
    <a href="#" class="widget-toggle"><i class="fa fa-chevron-down"></i></a>
    <a href="#" class="widget-close"><i class="fa fa-close"></i></a>
  </div>
</div>
<div class="widget-content">

<div class="bill-to-receipt">
  <div class="row">
    <div class="col-sm-6">
      <small class="text-left">
        <h4><strong><a href="#">Class : <%= @level.name %>  </a></strong></h4>
        <p><strong>TOTAL STUDENT : </strong> # <%= @level.students.count %></p>
        <p><strong>TOTAL MALE: </strong> # <%= @level.students.where(:gender=>'male').count %></p>
        <p><strong>TOTAL FEMALE: </strong> # <%= @level.students.where(:gender=>'female').count %></p>
      </small>

    </div>
    <div class="col-sm-6"><br>
      <small class="text-right">

        <p><strong>Fee monthly report: </strong> January,2015</p>
        <p><strong>Advance Paid  : </strong> <span class="label label-info">12,000 tk</span></p>
        <p><strong>Total Payable : </strong> <span class="label label-danger">20,000 tk</span></p>

        <p><strong>Total Collection  : </strong> <span class="label label-primary">12,000 tk</span></p>

      </small>
    </div>
  </div>
</div>
<!--end of bill to--->

<div  class="data-table-toolbar">
  <div class="row">
    <div class="col-md-4">
      <form role="form">
        <input id="search_field_SCCW" type="text" class="form-control" placeholder="Search with id...">
      </form>
    </div>
    <div class="col-md-8">
      <div class="btn-group ">
        <div data-toggle="tooltip" data-level_id="<%= @level.id %>" data-gender="male" title="Male Student Information " class="btn btn-red-1 student_AT_gender"><i class="fa fa-male"></i> Male</div>
        <div data-toggle="tooltip" data-level_id="<%= @level.id %>" data-gender="female" title="Female  Student Information" class="btn btn-orange-2 student_AT_gender"><i class="fa fa-female"></i> Female</div>
      </div>
      <div class="btn-group">
        <%= select_tag 'select_level', options_from_collection_for_select(Level.all,:id, :name ,{:class=>'rails_dropdown_options'}), {:class => 'btn btn-primary dropdown-toggle' } %>
      </div>
    </div>
  </div>
</div>
<!--start student list--->
<div class="table-responsive students_container">
  <table data-sortable class="table table-hover table-striped">
    <thead>
    <tr>
      <th>Student ID </th>
      <th>Student Name</th>
      <th>Rool No</th>
      <th>Class</th>
      <th>Group</th>
      <th>Session</th>
      <th>Semister</th>
      <th>Gender</th>
      <th>Contuc No</th>
      <th>Fee Status</th>
      <th data-sortable="false">Option</th>
    </tr>
    </thead>

    <tbody>
    <% if @level.students.any? %>
      <% @level.students.each do |std| %>
            <tr>
              <td><%= std.user.user_name %></td>
              <td><a href="mailto:#"><%= link_to std.first_name+' '+ std.last_name, student_profile_admins_path(std.user.id) %></a></td>
              <td>10</td>
              <td><%= @level.name %> </td>
              <td>Science</td>
              <td>2015</td>
              <td>Fall-2015</td>
              <td><span class="label label-primary"><%= std.gender %></span></td>
              <td><%= std.guardian.contact_number %></td>
              <td><span class="label label-success">paid</span></td>
              <td>
                <div class="btn-group btn-group-xs">
                  <a data-toggle="tooltip" title="Off" class="btn btn-default"><i class="fa fa-power-off"></i></a>
                  <a data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-edit"></i></a>
                </div>
              </td>
            </tr>
      <% end %>
    <% end %>
    <!--<tr>-->
      <!--<td>101-33-184</td>-->
      <!--<td><a href="mailto:#">Ashraful Alam Khan</a></td>-->
      <!--<td>10</td>-->
      <!--<td>Five</td>-->
      <!--<td>Science</td>-->
      <!--<td>2015</td>-->
      <!--<td>Fall-2015</td>-->
      <!--<td><span class="label label-primary">Male</span></td>-->
      <!--<td>01676152414</td>-->
      <!--<td><span class="label label-success">paid</span></td>-->
      <!--<td>-->
        <!--<div class="btn-group btn-group-xs">-->
          <!--<a data-toggle="tooltip" title="Off" class="btn btn-default"><i class="fa fa-power-off"></i></a>-->
          <!--<a data-toggle="tooltip" title="View" class="btn btn-default"><i class="fa fa-edit"></i></a>-->
        <!--</div>-->
      <!--</td>-->
    <!--</tr>-->


    </tbody>
  </table>
</div>
<div class="data-table-toolbar">
  <ul class="pagination">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
  </ul>
</div>

<!--start student list--->



</div>
</div>


</div>
</div>


<div class="row">
  <div class="col-lg-4 col-md-6 portlets">
    <div id="stock-app" class="widget green-3">
      <div class="widget-header transparent">
        <h2><strong>Stock</strong> Markets</h2>
        <div class="additional-btn">
          <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
          <a class="hidden" id="dropdownMenu1" data-toggle="dropdown">
            <i class="fa fa-cogs"></i>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
          <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="icon-publish"></i></a>
          <a href="#" class="widget-maximize hidden"><i class="icon-resize-full-1"></i></a>
          <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
          <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
        </div>
      </div>
      <div class="widget-content">
        <div id="website-statistic3" class="statistic-chart">
          <div class="row">
            <div class="col-xs-6">
              <h2>NASDAQ</h2>
            </div>
            <div class="col-xs-6">
              <label id="nasdaq-status" class="stock-status"></label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h2>DOW JONES</h2>
            </div>
            <div class="col-xs-6">
              <label id="dow-status" class="stock-status"></label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <h2>S&P</h2>
            </div>
            <div class="col-xs-6">
              <label id="sp-status" class="stock-status"></label>
            </div>
          </div>
        </div>
        <div id="home-chart-3"></div>
      </div>
      <div class="widget-footer">
      </div>
    </div>
  </div>


  <div class="col-lg-4 col-md-6 portlets">
    <div id="calc" class="widget darkblue-2">
      <div class="widget-header">
        <div class="additional-btn left-toolbar">
          <div class="btn-group">
            <a class="additional-icon" id="dropdownMenu2" data-toggle="dropdown">
              Calculator <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
              <li><a href="#">Save</a></li>
              <li><a href="#">Export</a></li>
              <li class="divider"></li>
              <li><a href="#">Quit</a></li>
            </ul>
          </div>
        </div>
        <div class="additional-btn">
          <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>

          <a href="#" class="widget-popout hidden tt" title="Pop Out/In"><i class="icon-publish"></i></a>
          <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
        </div>
      </div>
      <div id="calculator" class="widget-content">
        <div class="calc-top col-xs-12">
          <div class="row">
            <div class="col-xs-3"><span class="calc-clean">C</span></div>
            <div class="col-xs-9"><div class="calc-screen"></div></div>
          </div>
        </div>

        <div class="calc-keys col-xs-12">
          <div class="row">
            <div class="col-xs-3"><span>7</span></div>
            <div class="col-xs-3"><span>8</span></div>
            <div class="col-xs-3"><span>9</span></div>
            <div class="col-xs-3"><span class="calc-operator">+</span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>4</span></div>
            <div class="col-xs-3"><span>5</span></div>
            <div class="col-xs-3"><span>6</span></div>
            <div class="col-xs-3"><span class="calc-operator">-</span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>1</span></div>
            <div class="col-xs-3"><span>2</span></div>
            <div class="col-xs-3"><span>3</span></div>
            <div class="col-xs-3"><span class="calc-operator">รท</span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>0</span></div>
            <div class="col-xs-3"><span>.</span></div>
            <div class="col-xs-3"><span class="calc-eval">=</span></div>
            <div class="col-xs-3"><span class="calc-operator">x</span></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Footer Start -->

<script src="/js/jquery-1.11.1.min.js"></script>
<script>
    var show_male_students_according_to_class_SCCW=new function(){
        $('.student_AT_gender').click(function(){
            var level_id=$(this).data('level_id'),gender=$(this).data('gender');
            if(level_id!=''){
                $.ajax({
                    url: '<%= Rails.application.routes.url_helpers.show_students_according_to_gender_admins_path %>',
                    data: {level_id: level_id,gender:gender},
                    type: 'get'
                });
            }
        });
    };
    var student_searching=new function(){
        var student_id, student_id_field=$('#search_field_SCCW'),level_id=$('.student_AT_gender').data('level_id');
        student_id_field.keyup(function(){
            student_id=$(this).val();
                $.ajax({
                    url: '<%= Rails.application.routes.url_helpers.search_students_according_to_gender_admins_path %>',
                    data: {student_id: student_id,level_id:level_id},
                    type: 'get'
                });
        });

    };


    var class_dropdown_options_url=new function(){
        $('#select_level').click(function(){
            var lvl_id=$(this).val();
            window.location='/admins/student_count_class_wise/'+lvl_id;
        });
    };
</script>